<header class="header">
    <h1>
        <div title="home">
            <a href="{{ site.baseurl }}/?{{ site.time | date: '%s%N' }}" class="a-muted">
                oboe
            </a>
        </div>
    </h1>
    <h1>
        <div class="header-items">
            <small>
                <a href="{{ site.baseurl }}/about.html?{{ site.time | date: '%s%N' }}" class="a-muted">
                    about
                </a>
            </small>
            <small>
                <a href="{{ site.baseurl }}/blog.html?{{ site.time | date: '%s%N' }}" class="a-muted">
                    posts
                </a>
            </small>
        </div>
    </h1>

    <!-- SVG Pattern Container -->
    <div class="svg-pattern-wrapper">
        <hr style="width:100%;text-align:left;margin-left:0;margin-bottom:0;border-width:0;height:2px;color:lightgray;background-color:lightgray;">
      <div id="svg-pattern-container" class="svg-pattern-container"></div>
    </div>
</header>