html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Garamond, serif, RobotoLight, "CMU-Serif", Georgia, Times New Roman, Times, serif;
  background-color: #FFFCF0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin-bottom: 0px;
}

p + ul,
p + ol {
  margin-top: 0.2rem;
  margin-bottom: 0rem;
}

ul,
ol {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  padding-left: 20px;
}

ul ul, ul ol,
ol ul, ol ol {
  margin-bottom: 0rem;
}

p {
  margin-bottom: 0rem; /* Adjust this value to reduce space between paragraphs */
}

blockquote {
  border-left: .25rem solid #9F9D96;
  color: #9F9D96;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 2;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

a {
  text-decoration: none;
  color: #100F0F;
  font-weight: bold;
  &:hover {
    text-decoration:underline;
  }
  &:visited,:active {
    text-decoration: none;
    color: #100F0F;
  }
  word-wrap:break-word;
}

.container {
  max-width: 80%;//756px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100vh;
  display: flex;
  flex-flow: column;

  .post-date {
    color: #9F9D96;
  }
  @media (min-width: 600px) {
    max-width: 900px;
  }
}

.container-stripes {
  background-image: repeating-linear-gradient(180deg,rgba(0,0,0,.03),rgba(0,0,0,.03) 1px,transparent 0,transparent 30px);
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%
}

.footer {
  color: #878580;
  margin-top:10px;
  margin-left: 0px;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.header {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  // h1 {
  //   margin: 0;
  // }
  small {
    margin-left: 0px;
    margin-right: 10px;
  }
  .header-items {
    margin-left: 10px;
    margin-right: 0px;
    @media (max-width: 440px) {
      margin-left: 10px;
    }
  }
  .header-logos {
    margin: 0px;
  }
  .a {
    color: #100F0F;
  }
  .a-muted {
    color: #B7B5AC;
  }
  .h-logo-1 {
    margin: 10px;
    text-decoration:none;
    border: 5px solid transparent;
    padding: 1px;
    display: flex;
    justify-content: center;
    float: left;
    border-radius: 15px;
    &:hover {
      background-color: #F2F0E5;
    }
  }
  .h-logo-2 {
    margin:10px;
    text-decoration:none;
    border: 5px solid transparent;
    padding: 1px;
    display: flex;
    justify-content: center;
    float: left;
    border-radius: 15px;
    &:hover {
      background-color: #F2F0E5;
    }
  }
}

.archive-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7px;

  @media screen and (max-width: 540px) {
    flex-direction: column;
  }

  .archive-item-title {
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 20px;
  }

  .archive-date {
    white-space: nowrap;
    color: #9F9D96;
  }

  .archive-title {
    font-weight: normal;
  }
}

.post-title {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

$baseline: 8px;
$thin-black-line: 1px solid #100F0F;
$thin-gray-line: 1px solid #878580;

pre > code {
  overflow-x: scroll;
}

// General code element style preferences
code {
  border: $thin-gray-line;
  border-radius: 4px;
  padding : 3px 3px 1px;
  background-color: #F2F0E5;
}
pre {
  margin-top: ($baseline * 3) - 5px;
  margin-bottom: ($baseline * 3) - 5px;

  > code {
    display: block;
    border: $thin-black-line;
    border-radius: 4px;
    margin: -5px 0;
    padding : 4px 6px;
    line-height: 1.5rem;
  }
}

@keyframes infinite-spinner {
  to {transform: rotate(360deg);}
}

.infinite-spinner:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 60px auto;
  border: 2px solid #F2F0E5;
  border-top-color: #100F0F;
  animation: infinite-spinner .9s linear infinite;
}

.wrapper {
  overflow: scroll;
}

table {
  border-style: hidden;
  border-collapse: collapse;
  width: max(30rem, 100%);
  table-layout: fixed;
  overflow: scroll;
  margin-top: 12px;
  margin-bottom: 12px;
}

th,
caption {
  text-align: start;
}

caption {
  margin-block: 0.75rem;
}

thead th,
td {
  text-align: end;
}

thead {
  //border-block-end: 2px solid;
  background-color: #F2F0E5;
}

// tfoot {
//   border-block-end: 2px solid;
// }

th,
td {
  //border: 2px solid;
  padding: 0.25rem 0.75rem;
  vertical-align: baseline;
}

tr:nth-child(even) {
  background-color: #F2F0E5;
}