html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "CMU-Serif", Georgia, Times New Roman, Times, serif;
  background-color: #fefdf1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin-bottom: 3px;
}

p + ul,
p + ol {
  margin-top: 0rem; /* Reduce space between text and the list */
}

ul,
ol {
  margin-top: 0px; /* Remove default top margin */
  margin-bottom: 1rem; /* Adjust bottom margin if necessary */
  padding-left: 20px; /* Optional: adjust padding for indentation */
}

p {
  margin-bottom: 0.3rem; /* Adjust this value to reduce space between paragraphs */
}

blockquote {
  border-left: .25rem solid grey;
  color: grey;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 2;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

a {
  text-decoration: none;
  color: black; //rgb(17, 138, 132);
  font-weight: bold;
  &:hover {
    text-decoration:underline;
  }
  &:visited,:active {
    text-decoration: none;
    color: black; //rgb(17, 138, 132);
  }
}

.container {
  max-width: 756px;//756px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100vh;
  display: flex;
  flex-flow: column;

  .post-date {
    color: grey;
  }
}

.footer {
  color: darkgrey;
  margin-top:auto;
  margin-left: 0px;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  padding: 40px 0px 20px 20px;
}

.bouncing-ball {
  position: absolute;
  animation: bounce 1000s ease-in-out infinite;
  padding-left: 10px;
}

@keyframes bounce {
  0%, 100% {
    left: 0;
    transform: translateY(0);
  }
  50% {
    left: calc(100% - 100px);
  }
}

.header {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  h1 {
    margin: 0;
  }
  small {
    margin-left: 0px;
    margin-right: 10px;
  }
  .header-items {
    margin-left: 10px;
    margin-right: 0px;
    @media (max-width: 440px) {
      margin-left: 10px;
    }
  }
  .header-logos {
    margin: 0px;
  }
  .a {
    color: black;
  }
  .a-muted {
    color: lightgray;
  }
  .h-logo-1 {
    margin: 10px;
    text-decoration:none;
    border: 5px solid transparent;
    padding: 1px;
    //padding-right: 0px;
    //padding-left: 4.2px;
    //padding-top: 1px;
    //padding-bottom:0.4px ;
    display: flex;
    justify-content: center;
    float: left;
    border-radius: 15px;
    &:hover {
      //border: 5px solid whitesmoke;
      background-color: whitesmoke;
    }
  }
  .h-logo-2 {
    margin:10px;
    text-decoration:none;
    border: 5px solid transparent;
    padding: 1px;
    //padding-right: 4.8px;
    //padding-left: 4.8px;
    //padding-top: 1.2px;
    //padding-bottom:0.7px;
    display: flex;
    justify-content: center;
    float: left;
    border-radius: 15px;
    &:hover {
      //border: 5px solid whitesmoke;
      background-color: whitesmoke;
    }
  }
}

.archive-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7px;

  @media screen and (max-width: 540px) {
    flex-direction: column;
  }

  .archive-item-title {
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 20px;
  }

  .archive-date {
    white-space: nowrap;
    color: grey;
  }

  .archive-title {
    font-weight: normal;
  }
}

.post-title {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

$baseline: 8px;
$thin-black-line: 1px solid black;
$thin-gray-line: 1px solid lighten(black, 50%);

pre > code {
  overflow-x: scroll;
}

// General code element style preferences
code {
  border: $thin-gray-line;
  border-radius: 4px;
  padding : 3px 3px 1px;
  background-color: #fefdf1;
}
pre {
  margin-top: ($baseline * 3) - 5px;
  margin-bottom: ($baseline * 3) - 5px;

  > code {
    display: block;
    border: $thin-black-line;
    border-radius: 4px;
    margin: -5px 0;
    padding : 4px 6px;
    line-height: 1.5rem;
  }
}