<!doctype html>
<html>
  <head>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎉</text></svg>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css?{{ site.time | date: '%s%N' }}">
    <link href="{{ site.baseurl }}/assets/css/syntax.css?{{ site.time | date: '%s%N' }}" rel="stylesheet" >
  </head>
  <div class="container">
    {% include header-muted.html %}
    <body>
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-date">
        {{ page.date | date_to_string }}
      </p>
      {{ content }}
    </body>
    {% include footer.html %}
  </div>
</html>
